/*Header*/

header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.logo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  margin-top: 30px;
  margin-bottom: 30px;
  max-height: 500px;
  max-width: 500px;
}

/*Navigationsleiste*/

.navbar {
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  overflow: hidden;
}

#navigation_bar{
  position: sticky;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav ul li {
  font-size: 40px;
  margin-top: 100px;
  margin-left: 50px;
}

nav a {
  color: black;
  text-decoration: none;
  position: relative;
  padding: 3px;
}

nav a:hover {
  color: var(--secondary-color);
}

nav a::after {
  content: "";
  height: 2px;
  width: 10;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 150ms ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

#toggle_button {
  display: none;
}

label[for="toggle_button"]{
  display: none;
}

label[for="toogle_button"]span {
  font-size: 40px;
}

@media (max-width: 800px) {

  nav{
    position:absolute;
    top: 0;
    left: 0;
    background-color: var(--light-secondary-color);
    padding: 15px;
    border-radius: 0 0 25px;
    border: solid 3px black;
  }
  nav ul {
    display: none;
    flex-direction: column;
    
  }
  nav ul li {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 0px;
    
  }

  nav ul li a {
    color: black;
  }

  #toggle_button:checked ~ ul {
    display: flex;
  }
  
  label[for="toggle_button"]{
    display: block;
    color: black;
  }

  .logo img {
    margin-left: 5%;
    width:90%;
  }
}

/*Sektion Produkte*/
