#our_mission{
  padding: 100px 0;
  background-color: var(--light-secondary-color);
  display:flex;
  justify-content: center;
  align-items:center;
  gap: 100px;
  flex-wrap: wrap;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  width: 100%;
}
.our_mission_text{
  width:50%;
}

#our_mission img{
  width: 600px;
  height: fit-content;
}

#our_mission h2{
  font-size: 80px;
}

#our_mission p{
  text-align: justify;
  line-height: 175%;
}